{:deps {io.github.borkdude/quickblog
        {:git/sha "68f22a3de58af9a48f8b5aa92ee329e495d246a7"}}
 :paths ["scripts"]
 :tasks
 {:requires ([check-blog :as check]
             [quickblog.cli :as cli])
  :init (def opts {:blog-title "Notes to self"
                   :blog-author "Shyamsunder Gopale"
                   :blog-description "Notes on learning with Clojure."
                   :blog-root "https://sgopale.github.io/"
                   :assets-dir "posts/images"
                   :twitter-handle "sgopale"
                   :default-metadata {:tags []}})
  blog:check {:doc "Render and validate the blog."
              :task (check/check! opts)}
  quickblog {:doc "Start blogging quickly! Run `bb quickblog help` for details."
             :task (cli/dispatch opts)}}}
